/********** RESET **********/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/********* / RESET *********/
/********** MOBILE **********/
/*** 
	This is the base style for all devices and especially mobile phones.
	There is no media-queries since this is the base styling that will be on devices with Javascript disabled, or with unsupported media-queries.
	300px wide; 8 columns; 27px wide columns; 12px gutters; from 978.gs
***/
/********* / MOBILE *********/
/********** TABLET **********/
/*** 
	This file contains the styles for devices larger than 768px
	748px wide; 12 columns; 44px columns; 20px gutters from 978.gs
	The grid suggestions are only... suggestions, it's up to you to make yours yourself :)
***/
@media only screen and (min-width: 768px) {
  
}
/********* / TABLET *********/
/********** DESKTOP **********/
/*** 
	This file contains styles for devices larger than 998px
	978px wide; 12 columns; 54px wide columns; 30px gutters; from 978.gs
***/
@media only screen and (min-width: 998px) {
  
}
/********* / DESKTOP *********/
/********** BIGSCREEN **********/
/*** 
	This file contains the style for devices larger than 1408px.
	1378px wide; 16 columns; 58px columns; 30px gutters; from 978.gs
***/
@media only screen and (min-width: 1408px) {
  
}
/********* / BIGSCREEN *********/
/********** HDTV **********/
/*** 
	This file contains styles for devices larger than 2018px
	2000pw wide; 20 columns; 70px columns; 30px gutters; from nowhere, made that one up...
***/
@media only screen and (min-width: 2018px) {
  
}
/********* / HDTV *********/
/********** PLUGINS **********/
/*** 
	This file contains various styles used by third-party codes such as jQuery plugins
***/
/********* / PLUGINS *********/
