/* To avoid duplicate proprieties when compiling, files are merged in 1 single file (this one)*/


/** Mixins **/
/* .col(x) writes width, margin-left and margin-right for x as the number of columns */
.col(@number: 1) {
	@columns : 76px*@number;
	@glitter : 20px*(@number - 1);
	width: @columns+@glitter;
	margin-right:10px;
	margin-left:10px;
}

/* .col(x) writes width, margin-left and margin-right for x as the number of columns */
.p-col(@number: 1) {
	@columns : 26%*@number;
	@glitter : 7%*(@number - 1);
	width: @columns+@glitter;
	margin-right:3.5%;
	margin-left:3.5%;
}

/* .col-padding(x) writes width, margin-left, margin-right, padding-left and padding-right for x as the number of columns */
.col-padding(@number: 1) {
	@columns : 76px*@number;
	@glitter : 20px*(@number - 1);
	width: @columns+@glitter - 20;
	margin-right:10px;
	margin-left:10px;
	padding-right:10px;
	padding-left:10px;
}

/** Layout **/
/* I suggest you only use the mixins here to handle the variations of sizes of the elements and use the @imports for the rest of the styling */

/*Mobile as Default*/
/*3 columns*/
body {
	padding:0 auto;
	margin:0 auto;
	width:288px;
	
	.mobile {
		display:block;
	}
	
	.tablet, .desktop, .bigscreen, .hdtv {
		display:none;
	}
}
@import "mobile";


/*MQ -> Tablets*/
/*6 columns*/
@media only screen and (min-width: 667px) {
	body {
		padding:0 auto;
		margin:0 auto;
		width:576px;

		.tablet {
			display:block;
		}

		.mobile, .desktop, .bigscreen, .hdtv {
			display:none;
		}
	}
}
@import "tablet";
/*MQ -> Desktop*/
/*9 columns*/
@media only screen and (min-width: 985px) {
	body {
		padding:0 auto;
		margin:0 auto;
		width:864px;

		.desktop {
			display:block;
		}

		.mobile, .tablet, .bigscreen, .hdtv {
			display:none;
		}
	}
}
@import "desktop";
/*MQ -> Big Screen*/
/*12 columns*/
@media only screen and (min-width: 1304px) {
	body {
		padding:0 auto;
		margin:0 auto;
		width:1172px;

		.bigscreen {
			display:block;
		}

		.mobile, .tablet, .desktop, .hdtv {
			display:none;
		}
	}
}
@import "bigscreen";
/*MQ -> HDTV*/
/*18 columns*/
@media only screen and (min-width: 1938px) {
	body {
		padding:0 auto;
		margin:0 auto;
		width:1748px;

		.hdtv {
			display:block;
		}

		.mobile, .tablet, .desktop, .bigscreen {
			display:none;
		}
	}
}
@import "hdtv";