/*Reset.css*/
/*****   Reset   *****/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/* END RESET CSS *//*Fontface*/
/*Fonface*//*Layout*/
/* To avoid duplicate proprieties when compiling, files are merged in 1 single file (this one)*/
/** Mixins **/
/* .col(x) writes width, margin-left and margin-right for x as the number of columns */
/* .col-padding(x) writes width, margin-left, margin-right, padding-left and padding-right for x as the number of columns */
/** Layout **/
/* I suggest you only use the mixins here to handle the variations of sizes of the elements and use the @imports for the rest of the styling */
/*Mobile as Default*/
/*3 columns*/
body {
  padding: 0 auto;
  margin: 0 auto;
  width: 288px;
}
/*Mobile*//*MQ -> Tablets*/
/*6 columns*/
@media only screen and (min-width: 667px) {
  body {
    padding: 0 auto;
    margin: 0 auto;
    width: 576px;
  }
}
/*Tablet*/
@media only screen and (min-width: 667px) {
  
}
/*MQ -> Desktop*/
/*9 columns*/
@media only screen and (min-width: 985px) {
  body {
    padding: 0 auto;
    margin: 0 auto;
    width: 864px;
  }
}
/*Desktop*/
@media only screen and (min-width: 985px) {
  
}
/*MQ -> Big Screen*/
/*12 columns*/
@media only screen and (min-width: 1304px) {
  body {
    padding: 0 auto;
    margin: 0 auto;
    width: 1172px;
  }
}
/*Bigscreen*/
@media only screen and (min-width: 1304px) {
  
}
/*MQ -> HDTV*/
/*18 columns*/
@media only screen and (min-width: 1938px) {
  body {
    padding: 0 auto;
    margin: 0 auto;
    width: 1748px;
  }
}
/*HDTV*/
@media only screen and (min-width: 1938px) {
  
}
/*Plugins*/
/*Plugins*/